.AnnouncementWrapper{
    flex: 1 0 0;
    align-self: stretch;
    margin: 20px;
    // width: 100%;
    height: 240px;
    border-radius: 16px;
    background: linear-gradient(98deg, #040612 -6.24%, #053334 53.06%, #EF6B16 109.03%);
    position: relative;
}