.pageWrapper{
    display: grid;
    grid-template-columns: auto 1fr;
}
.contentWrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: calc(100vw - 216px);
    position: relative;
    padding: 20px;
    overflow-y: auto;
    max-height: calc(100vh - 76px);
}
// .contentWrapper{
//     // width: 100%;
//     flex: 1;
//     display: flex;
//     flex-direction: column;
//     margin-left: 320px;
//     padding-top: 80px;
// }
.PlaylistNav{
    width: 100%;
    // flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    padding: 20px;
    border-bottom: 1px solid #1B1E24;
    // margin-left: 20px;
    // margin-right: 20px;
    max-width: calc(100vw - 216px);
}
.PlaylistCTA{
    display: flex;
    // flex: 1;
    // width: 100vw;
    flex: auto;
    

}
.search{
    display: flex;
    gap: 10px;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #1B1E24;
    background: #050717;
    padding: 10px;
    max-width: 240px;
    flex: auto;
    max-height: 40px;
    // border: 1px solid red;

}
.PlaylistCardContainer{
    padding: 20px;
}
.sectionWrapper{
    display: flex;
    flex-direction: column;
    gap: 22px;
}

// DATA DISPLAY
.header{
    display: flex;
    height: 60px;
    // padding: 8px 20px;
    align-items: center;
    // gap: 200px;
    align-self: stretch;
    border: 0px solid #14161C;
    background: #050717;
    p{
        // border: 1px solid red;
        width: 200px;
    }
    

}
.header > :first-child {
    width: 320px;
    // border: 1px solid green;
  }
  .header > :last-child {
    flex: 1;
  }
.dataRow{
    display: flex;
    align-items: center;
    // justify-content: space-evenly;
    height: 60px;
    border-bottom: 1px solid #1B1E24;

    p{
        color: var(--Primary-text, var(--Neutral-TextPrimary, #F5F5F5));
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 171.429% */
        letter-spacing: 0.07px;
    }
    div{
        // border:1px solid #2344d6;
        width: 200px;
        height: 44px;
        display: flex;
        place-items: center;
    }
}
.dataRow > :first-child {
    width: 320px;
    // border: 1px solid green;
    flex-direction: column;
    align-items: flex-start;
  }
  .dataRow > :last-child {
    // flex: 1;
    margin-left: auto;
  }
  .trackActions{
    display: flex;
    gap:20px;

}