.PageWrapper{
    // display: flex;
    width: 100vw;
    display: grid;
    grid-template-columns: auto 1fr; 
    position: absolute;
}
.contentWrapper{
    flex: 1;
    margin-left: 320px;
    padding-top: 80px;
    width: 100%;
}
.SectionWrapper{
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    h4{
        color:#FFF;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 133.333% */
        letter-spacing: 0.09px;
    }
}

.FeaturedAlbumsWrapper{
    // width: 100vw;
    display: flex;
    gap: 20px;
    // overflow: scroll;
    // overflow-x: auto;
    // white-space: nowrap;
}

.WeeklyTopWrapper{
        // display: grid;
        // grid-template-columns: repeat(auto-fit, minmax(min(25rem, 100%), 1fr));
        // // place-items: center;
        // // padding-top: 20px;
        // gap: 20px;
        // flex-grow: 1;
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        gap: 20px;
        // align-items: stretch;
        // flex-direction: column;
        
}

.FeaturedArtistWrapper{
    display: flex;
    gap: 20px;
}