.NavigationWrapper{
    display: flex;
    align-items: center;
    // flex-shrink: 0;
    justify-content: space-between;
    border-bottom: 1px solid #053334;
    padding: 18px 20px;
    width: 100%;
    background: #03050E;
    max-height: 76px;
    // overflow: hidden;
    // position: absolute;
    max-width: calc(100vw - 216px);

}
.NavigationPageTitle{
    color: #F5F5F5;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.1px;
}
.NavigationCTA{
    display: flex;
    gap: 16px;
}

.search{
    display: flex;
    gap: 10px;
    align-items: center;
    border-radius: 8px;
    border: none;
    background: none;
    padding: 10px;
    width: 457px;
    max-height: 40px;
}