.SidebarContainer{
    display: flex;
    flex-direction: column;
    border-right: 1px solid #053334;
    min-height: 100vh;
    height: 100%;
    width: 216px;
    padding: 20px;
    position: relative;
    // bottom: 0;
}
.SidebarLogo{
    margin-bottom: 32px;
}
.SidebarListItemContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    
}
.SidebarListItemGroup{
    display: flex;
    width: 100%;
    padding: 8px 12px 8px 20px;
    align-items: center;
    // border: 1px solid red;
    justify-content: space-between;
    
    height: 44px;

}
.active{
    background: #10121A;
    border-radius: 8px;
}
.SidebarListItem{
    display: flex;
    // align-items: center;
    gap: 8px;
    // border-right: 4px solid orange;

}
.verticalLine{
    border: 2px solid #EF6B16;
    align-self: stretch;
    border-radius: var(--XS, 4px);


}