.SidebarContainer{
    display: flex;
    flex-direction: column;
    border-right: 1px solid #053334;
    min-height: 100vh;
    height: 100%;
    width: 216px;
    padding: 20px;
    position: relative;
    // bottom: 0;
}
.SidebarLogo{
    margin-bottom: 32px;
}
.SidebarListItemContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.SidebarListItem{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 12px 8px 20px;
    border-right: 4px solid orange;
}