


.DefaultInputStyles{
    outline: none;
    padding: 8px 16px;
    border-radius: 8px;
    width: 100%;
}
// .custom-DefaultInputStyles::placeholder {
//     font-size: 15px;
//     font-style: normal;
//     font-weight: 400;
//     color: #818181;
//   }