


.DefaultInputStyles{
    outline: none;
    padding: 8px 16px;
    border-radius: 8px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid var(--neutral-border-dividers, #4D4D4D);
    background: var(--others-transparent, rgba(255, 255, 255, 0.00));
    letter-spacing: 0.538px;
    line-height: 20px;
    max-height: 40px;
    color: #FFF;
}

.DefaultInputStyles::placeholder{
    color: #B3B3B3;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.272px;
   
// .custom-DefaultInputStyles::placeholder {
//     font-size: 15px;
//     font-style: normal;
//     font-weight: 400;
//     color: #818181;
//   }

}

.SelectInputContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.selectInput{
    height: 44px;
    padding: var(--MD, 12px) var(--LG, 16px);
    align-items: center;
    gap: var(--LG, 16px);
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid var(--neutral-border-dividers, #4D4D4D);
    border: 1px solid var(--neutral-border-dividers, #4D4D4D);
    // appearance: none;
  background-color: transparent;
  color: #B3B3B3;

    option{
        color: white;
    }

}
.selectInput:focus {
    outline: none;
  }