.pageWrapper{
    display: grid;
    grid-template-columns: auto 1fr;
}
.contentWrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: calc(100vw - 216px);
    position: relative;
    padding: 20px;
    overflow-y: auto;
    max-height: calc(100vh - 76px);
}
.sectionWrapper{
    display: flex;
    flex-direction: column;
    gap: 22px;
}
.sectionContainer{
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 11 */
}
.sectionContainer::-webkit-scrollbar {
    display: none; /* WebKit (Chrome, Safari, Edge) */
  }
.FeaturedTrackContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}